body {
  font-family: sans-serif;
  font-size: 20px;

}
#head{
  color:aqua;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container {
  justify-content: space-between;
  padding: 20px;
}

.size-content{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.left-panel {
  width: 50%;
  background-color: rgb(92, 185, 185);
  padding: 20px;
  text-align: left;
  border: 6px solid rgb(126, 29, 29);
  border-radius: 10px;
  box-sizing: border-box;
}

.right-panel {
  width: 50%;
  display:flex;
  justify-content:left;
  align-items:center;
  box-sizing: border-box;
  padding: 20px;

  }

input, select, button {
  border-color:burlywood;
  display: block;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

#qrcode {
  background-color: #efebeb;
  border:20px solid white;
  border-radius: 10px;
  transition: 0.1s;
  transition-duration: 0.9s;
}

button {
  cursor: pointer;
  color:rgb(142, 20, 117);
  border: 3px solid #9a9e2b;
  border-radius: 6px;
}

button:hover{
  transform:scale(1.05);
  box-shadow:1px 4px 1px rgba(0,0,0,25);
  opacity:0.9;
}